.lf-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  transition: all 0.5s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  &__image {
    > img {
      height: 80px;
      width: auto;
      align-self: center;
    }
  }

  &__nav {
    display: flex;
    align-self: center;
    gap: 80px;
    margin-right: 80px;

    > a {
      font-size: x-large;
      text-decoration: none;
      color: white !important;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.lf-header-scrolled {
  background: white;
  transition: all 0.5s;

  > nav {
    > a {
      font-size: x-large;
      text-decoration: none;
      color: black !important;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}